# HTTP Server
HTTP_HOST=127.0.0.1
HTTP_PORT=3000

# gRPC Server
GRPC_HOST=127.0.0.1
GRPC_PORT=50051
# required
GRPC_ROOT_PASSWORD=your-secure-password

# Database Configuration
# Storage: inmemory, rocksdb
# Index: flat, kdtree, hnsw
STORAGE_TYPE=rocksdb 
INDEX_TYPE=flat
DIMENSION=512
SIMILARITY=cosine

DATA_PATH=./data

# Server Options
LOGGING=true
DISABLE_HTTP=false

# Embedding Services (TUI)
TEXT_EMBEDDING_URL=http://localhost:8080/vectors
IMAGE_EMBEDDING_URL=http://localhost:8080/vectors_img
