NUMBER_OF_DATABASE=3
DATABASE_PATH1=Enter-path-1-here
DATABASE_NAME1=Enter-name-1-here
DATABASE_PATH2=Enter-path-2-here
DATABASE_NAME2=Enter-name-2-here
DATABASE_PATH3=Enter-path-3-here
DATABASE_NAME3=Enter-name-3-here

TEXT_EMBEDDING_URL=http://localhost:8080/vectors
IMAGE_EMBEDDING_URL=http://localhost:8080/vectors_img
