OPENAI_API_KEY=your-api-token
ACCOUNT_ID=your-account-id

EMBEDDING_MODEL=@cf/qwen/qwen3-embedding-0.6b
LLM_MODEL=@cf/openai/gpt-oss-20b
VECTOR_SIZE=1024

VORTEXDB_HOST=vortexdb
VORTEXDB_PORT=3034
CHUNK_SIZE=512
CHUNK_OVERLAP=50
TOP_K=5
EMBEDDING_BATCH_SIZE=64
DOCS_DIRECTORY=./documents

