# ./.env

# The IP address and port for the server to listen on
LISTEN_ADDR="127.0.0.1:3000"

# The file system path for the database storage
DB_PATH="./data/vectordb"

# The dimension of the vectors database will store
VECTOR_DIMENSION="3"